*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
   scrollbar-width: none; 
   -ms-overflow-style: none; 
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #0D182E;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 10%;
    height: 28.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img{
    width:120px;
    height:100px;
}

header h1{
    font-family: "Big Shoulders", sans-serif;
    color: #32CD32;
    font-weight: 800;
    font-size: 43.42px;
    line-height: 150%;
}

header p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12.21px;
    line-height: 150%;
    color: #FFFFFF;
}

form{
    margin: 30px 15px;
    border: 4px solid #252F42;
    border-radius: 15px;
}

.textarea-heading,
#input-text{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

form h2{
    margin: 24px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #035A9D;
}

#input-text{
    resize: none;
    width: 81.28%;
    border: none;
    border-radius: 8px;
    background-color: #EFF0F4;
    padding: 12px 5px 76px 10px;
    margin: auto;
}

textarea::placeholder{
    color:#333333;
}

textarea:focus{
   outline: 2px solid #32CD32;
}

.flag-img{
    width: 30px;
    border: 1px solid #999999;
}

.raido-label{
    display: flex;
    gap: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 15px;
}

button{
    width: 88.95%;
    display: block;
    margin:46px auto;
    padding: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    background-color: #035A9D;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

