*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
   scrollbar-width: none; 
   -ms-overflow-style: none; 
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
}

header{
    background-color: #0D182E;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 10%;
    height: 28.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img{
    width:95px;
    height:85px;
}

header h1{
    font-family: "Big Shoulders", sans-serif;
    color: #32CD32;
    font-weight: 800;
    font-size: 43.42px;
    line-height: 150%;
}

header p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12.21px;
    line-height: 150%;
}

img{
    width: 100px;
}

