*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
   scrollbar-width: none; 
   -ms-overflow-style: none; 
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #0D182E;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 10%;
    height: 28.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img{
    width:120px;
    height:100px;
}

header h1{
    font-family: "Big Shoulders", sans-serif;
    color: #32CD32;
    font-weight: 800;
    font-size: 2.714rem; /* 43.42px */
    line-height: 150%;
}

header p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.763rem; /* 12.21px */
    line-height: 150%;
    color: #FFFFFF;
}

form{
    margin: 1.875em 0.9375em; /* 30px 15px */
    border: 4px solid #252F42;
    border-radius: 15px;
}

.textarea-heading,
#input-text{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem; /* 20px */
    line-height: 150%;
}

form h2{
    margin: 1em 0; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #035A9D;
}

#input-text{
    padding: 0.6em 0.25em 3.8em 0.5em; /* 12px 5px 76px 10px */
}

#input-text,
.translated{
    resize: none;
    width: 81.28%;
    border: none;
    border-radius: 8px;
    background-color: #EFF0F4;
    margin: auto;
}

.translated{
    padding: 0.667em 0.278em 4.722em 0.556em; /* 12px 5px 85px 10px */
    display: flex;
    color:#000;
    font-size: 1.125rem; /* 18px */
    font-family: 'Poppins', sans-serif;
}

textarea::placeholder{
    color:#333333;
}

textarea:focus{
   outline: 2px solid #32CD32;
}

.flag-img{
    width: 30px;
    border: 1px solid #999999;
}

.raido-label{
    display: flex;
    gap: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    margin-left: 2.25em; /* 45px */
    margin-bottom: 0.75em; /* 15px */
}

input[type="radio"]{
    width: 18px;
}

.translated-text{
    display: '';
}

.submit-btn,
.reset-btn{
    width: 88.95%;
    display: block;
    margin: 1.667em auto 0.833em auto; /* 40px auto 20px auto */
    padding: 0.583em; /* 14px */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
    text-align: center;
    background-color: #035A9D;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

.submit-btn:hover,
.submit-btn:focus,
.reset-btn:hover,
.reset-btn:focus{
    background-color:#0475CC;
}

.reset-btn{
    display: none;
}

@media (min-width: 1024px) {
    header{
        height: 15%;
        gap:50px;
        padding-top: 1.25em; /* 20px */
        padding-bottom: 1.25em; /* 20px */
    }

    header img{
        width: 80px;
        height:80px;
    }

    form{
        margin-top: 1.25em; /* 20px */
    }

    .raido-label{
        margin-left: 5.5em; /* 110px */
    }

    #input-text{
        padding: 0.6em 0.25em 2.75em 0.5em; /* 12px 5px 55px 10px */
    }

    .translated{
        padding: 0.667em 0.278em 4.722em 0.556em; /* 12px 5px 85px 10px */
    }
}